body {
    font-family: 'Press Start 2P', cursive, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
    margin: 0;
    overflow: hidden;
}

#juego-contenedor {
    width: 900px;
    height: 200px;
    border: 5px solid #fff;
    position: relative;
    overflow: hidden;
}

/* FONDOS NUEVOS */
.fondo1 {
    background-color: #0056B3;
}

.fondo2 {
    background-color: #00994D;
}

.fondo3 {
    background-color: #660066;
}

.fondo4 {
    background-color: #CC3300;
}

.fondo5 {
    background-color: #333399;
}

#suelo {
    width: 100%;
    height: 30px;
    background: url('../img/suelo.png') repeat-x;
    background-size: auto 30px;
    position: absolute;
    bottom: 0;
    animation: moverSuelo 5s linear infinite;
}

@keyframes moverSuelo {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -900px;
    }
}

#pixel-bot {
    width: 50px;
    height: 50px;
    background: url('../img/pixelbot.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: 30px;
    left: 50px;
}

.obstaculo {
    width: 30px;
    height: 50px;
    background: url('../img/obstaculo.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: 30px;
    left: 900px;
}

#mensaje-juego {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 30px;
    border-radius: 5px;
}

#puntuacion {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}
